{% macro row(form, label, recommendedLength = null, cssClass = '') %}
    <dl class="form-line">
        <dt>
            {{ form_label(form, label) }}
        </dt>

        {% if recommendedLength is not null %}
            <dd class="js-characters-counter">
                {{ _self.formWidgetWithMergedClass(form, cssClass ~ ' js-characters-counter-input') }}
                <div class="js-characters-counter-info in-message in-message--neutral" data-recommended-length="{{ recommendedLength }}"></div>
            </dd>
        {% else %}
            <dd>
                {{ _self.formWidgetWithMergedClass(form, cssClass) }}
            </dd>
        {% endif %}
    </dl>
{% endmacro %}

{% macro multidomainRow(multidomainForm, label, recommendedLength = null, cssClass = '') %}
    {% for domainId, domainForm in multidomainForm %}
        <dl class="form-line {% if not loop.first %}form-line--no-delimiter{% endif %}">
            <dt>
                {% if loop.first %}
                    {{ label }}:
                {% endif %}
            </dt>
            {% if recommendedLength is not null %}
                <dd class="js-characters-counter">
                    {{ domainIcon(domainId, 'in-image--align-to-top') }}
                    {{ _self.formWidgetWithMergedClass(domainForm, cssClass ~ ' js-characters-counter-input') }}
                    <div class="js-characters-counter-info in-message in-message--neutral" data-recommended-length="{{ recommendedLength }}"></div>
                </dd>
            {% else %}
                <dd>
                    {{ domainIcon(domainId, 'in-image--align-to-top') }}
                    {{ _self.formWidgetWithMergedClass(domainForm, cssClass) }}
                </dd>
            {% endif %}
        </dl>
    {% endfor %}
{% endmacro %}

{% macro formWidgetWithMergedClass(form, cssClass = '') %}
    {% set attr = form.vars.attr|merge({class: form.vars.attr.class|default('') ~ ' ' ~ cssClass}) %}
    {{ form_widget(form, {attr: attr}) }}
    {{ form_errors(form) }}
{% endmacro %}
