{% extends '@ShopsysShop/Admin/Content/Article/detail.html.twig' %}

{% block title %}- {{ 'Editing article'|trans }} - {{ article.name }}{% endblock %}
{% block h1 %}{{ 'Editing article'|trans }} - {{ article.name }}{% endblock %}

{% block article_domain %}
    {% if isMultidomain() %}
        <dl class="form-line">
            <dt>
                <label>{{ 'Domain:'|trans }}</label>
            </dt>
            <dd>
                <input
                    type="text"
                    value="{{ getDomainName(article.domainId) }}"
                    class="input"
                    readonly="readonly"
                >
            </dd>
        </dl>
    {% endif %}
{% endblock %}

{% block article_urls %}
    {{ form_row(form.urls, { label: 'URL addresses'|trans }) }}
{% endblock %}
