{% extends '@ShopsysShop/Admin/Content/Product/detail.html.twig' %}

{% block title %}- {{ 'New product'|trans }}{% endblock %}

{% block product_header_heading %}
    <span>{{ 'New product'|trans }}</span>
{% endblock %}

{% block product_calculated_prices %}
    <div class="box-product-prices">
        <dl class="form-line form-line--visible">
            <dt></dt>
            <dd>
                <div class="box-product-prices__input">
                    <strong>
                        {{ inputPriceLabel() }}
                    </strong>
                </div>
            </dd>
        </dl>
    </div>
    <dl class="form-line js-input-price-type-auto">
        <dt>
            {{ form_label(form.productData.price, 'Base price'|trans) }}
        </dt>
        <dd>
            {{ form_widget(form.productData.price, { symbolAfterInput: currencySymbolDefault() }) }}
            {{ form_errors(form.productData.price) }}
        </dd>
    </dl>
    {% for domainId, pricingGroups in pricingGroupsIndexedByDomainId %}
        <div class="js-input-price-type-manual">
            <dl class="form-line form-line--group-label">
                <dt>
                    {% if isMultidomain() %}
                        {{ domainIcon(domainId) }}
                        {{ getDomainName(domainId) }}
                    {% endif %}
                </dt>
            </dl>
            {% for pricingGroup in pricingGroups %}
                <dl class="form-line">
                    <dt>
                        {{ form_label(form.manualInputPricesByPricingGroupId[pricingGroup.id], pricingGroup.name) }}
                    </dt>
                    <dd>
                        <div class="js-input-price-type-manual">
                            {{ form_widget(form.manualInputPricesByPricingGroupId[pricingGroup.id], { symbolAfterInput: currencySymbolByDomainId(domainId) }) }}
                        </div>
                        <div class="js-input-price-type-auto">&nbsp;</div>
                        {{ form_errors(form.manualInputPricesByPricingGroupId[pricingGroup.id]) }}
                    </dd>
                </dl>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block product_urls %}
    {% do form.urls.setRendered %}
{% endblock %}

{% block images %}
    {% do form.orderedImagesById.setRendered %}
{% endblock %}
