{% extends '@ShopsysShop/Admin/Layout/layoutWithPanel.html.twig' %}

{% block title %}- {{ 'Brand overview'|trans }}{% endblock %}
{% block h1 %}{{ 'Brand overview'|trans }}{% endblock %}

{% block main_content %}
    <div class="wrap-bar">
        <div class="form-group margin-bottom-20">
            <h2 class="form-group__title">
                {{ 'Link to the overview of brands'|trans }}
            </h2>
            {% for domain in domains %}
                <dl class="form-line">
                    <dd>
                        {% if isMultidomain() %}
                            {{ domainIcon(domain.id) }}
                        {% endif %}
                        <span>
                            {{ getDomainName(domain.id) }}
                        </span>
                        <a href="{{ findUrlByDomainId('front_brand_list', {}, domain.id) }}" target="_blank">
                            {{ findUrlByDomainId('front_brand_list', {}, domain.id) }}
                        </a>
                    </dd>
                </dl>
            {% endfor %}
        </div>
        <a href="{{ url('admin_brand_new') }}" class="btn btn--plus wrap-bar__btn">
            <i class="btn__icon">+</i>
            {{ 'Create new brand'|trans }}
        </a>
    </div>
    {{ gridView.render() }}
{% endblock %}
