{% extends '@ShopsysShop/Admin/Content/Transport/detail.html.twig' %}

{% block title %}- {{ 'Editing shipping'|trans }} - {{ transportDetail.transport.name }}{% endblock %}
{% block h1 %}{{ 'Editing shipping'|trans }} - {{ transportDetail.transport.name }}{% endblock %}

{% block transport_base_prices %}
    <div id="transport_prices" class="box-product-prices">
        <dl class="form-line form-line--visible">
            <dt></dt>
            <dd>
                <div class="box-product-prices__input">
                    <strong>
                        {{ inputPriceLabel() }}
                    </strong>
                </div>
                <div class="box-product-prices__error"></div>
                <div class="box-product-prices__price">
                    <strong>{{ 'Price excluding VAT'|trans }}</strong>
                </div>
                <div class="box-product-prices__price">
                    <strong>
                        {{ 'Price including VAT'|trans }}
                    </strong>
                </div>
            </dd>
        </dl>
        {% for currencyId, currency in currencies %}
            <dl class="form-line">
                <dt>
                    {{ form_label(form.pricesByCurrencyId[currencyId], 'Base price in %currencyCode%'|trans({'%currencyCode%': currency.code}) ) }}
                </dt>
                <dd>
                    <div class="box-product-prices__input">
                        {{ form_widget(form.pricesByCurrencyId[currencyId], { symbolAfterInput: currencySymbolByCurrencyId(currencyId) }) }}
                    </div>
                    <div class="box-product-prices__error">
                        {{ form_errors(form.pricesByCurrencyId[currencyId]) }}
                    </div>
                    <div class="box-product-prices__price">
                        {{ transportDetail.basePricesByCurrencyId[currencyId].priceWithoutVat|priceWithCurrencyByCurrencyId(currencyId) }}
                    </div>
                    <div class="box-product-prices__price">
                        <strong>{{ transportDetail.basePricesByCurrencyId[currencyId].priceWithVat|priceWithCurrencyByCurrencyId(currencyId) }}</strong>
                    </div>
                </dd>
            </dl>
        {% endfor %}
    </div>
{% endblock %}

{% block image %}
    <dl class="form-line">
        <dd>
            {{ image(transportDetail.transport, { size: 'original', height: 100 }) }}
        </dd>
    </dl>
{% endblock %}
